section {
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.25rem;

    img {
      display: inline;
      width: 2.25rem;
      height: 2.25rem;
      position: relative;
      bottom: -0.15rem;
      user-select: none;
    }
  }

  p {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #858585;
  }
}

@media screen and (min-width: 768px) {
  section {
    max-width: 50rem;
    margin: 0 auto;
    padding: 4rem 0;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;

      img {
        width: 3rem;
        height: 3rem;
        margin-left: 0.25rem;
      }
    }

    p {
      line-height: 160%;
    }
  }
}
